body {
  background-color: #041626;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

li img {
  width: 120px;
}

.navbar-color {
  background-color: #012e40;
}

.tarjet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-card {
  background-color: #012E40;
}

.separate {
  border: 1px solid #041626;
  width: 100%;
  margin: 0 5px;
}

.inputs-form{
  color: gray;
}

input {
  background-color: #105A6B;
  border: none;
}

input::placeholder{
  color: white !important; 
}