body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #041626;
  /* font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal; */
}

nav {
  background-color: #333;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  padding: 20px;
}

.navbar-color {
  background-color: #012e40;
}

.logo {
  width: 87px;
  height: 51px;
}

.card-color {
  background-color: #13678a;
}

.long-card {
  max-width: 900px !important;
}

.excercises-color {
  background-color: #38a5c6;
  border-radius: 15px;
  gap: 20px;
}

.bg-image {
  background-color: #dafdba;
  border-radius: 15px;
}

.title-exercise,
.content-excercise {
  color: white;
}

.content-excercise {
  font-size: small;
}

.total-container {
  gap: 15px;
}

.init-btn {
  cursor: pointer;
}
