* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #041626;
  /* font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal; */
}

nav {
  background-color: #333;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.image-home {
  width: 150px;
  height: auto;
}

.image-user {
  width: 80px;
  border-radius: 10px;
}

.container {
  padding: 20px;
}

.navbar-color {
  background-color: #012e40;
}

.logo {
  width: 120px;
}

.card-color {
  background-color: #012e40;
}

.long-card {
  max-width: 900px !important;
}

.excercises-color {
  background-color: #041626;
  border-radius: 15px;
  gap: 20px;
}

.excercises-color2 {
  background: rgb(4, 22, 38);
  background: linear-gradient(
    90deg,
    rgba(4, 22, 38, 1) 0%,
    rgba(5, 43, 48, 1) 42%,
    rgba(6, 72, 62, 1) 67%,
    rgba(11, 173, 111, 1) 100%
  );
  border-radius: 15px;
  gap: 20px;
}

.title-exercise,
.content-excercise {
  color: white;
}

.content-excercise {
  font-size: small;
}

.total-container {
  background-color: #004459;
  gap: 15px;
  margin: 10px 0;
  border-radius: 30px;
}

.init-btn {
  cursor: pointer;
}

.grid-components {
  color: white;
}

.col-1 {
  width: 100%;
  height: 60px;
  background-color: #012e40;
}

.title-block {
  font-size: small;
}

.right {
  background-color: #004459;
}

.menu {
  width: 30px;
  cursor: pointer;
}

.mid {
  background-color: #004459;
}

.col-2-mid {
  width: 100%;
  min-height: 560px;
}

.centrarNoEjercicio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: x-large;
}

.CodeMirror {
  background-color: #020d14 !important;
  min-height: 560px !important;
  color: white !important;
}

.CodeMirror-cursor {
  border: 2px solid white !important;
}

.CodeMirror-gutter {
  background-color: #020d14 !important;
  color: white !important;
}

.col-2 {
  width: 100%;
  max-height: 100px;
  background-color: #004459;
}

.col-2-side {
  width: 100%;
  min-height: 560px;
  background-color: #357184;
}

.col-2-side-right {
  background-color: #012e40;
}

.content-problem {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  text-align: justify;
}

.imageProblem {
  width: 55px;
}

.runCode {
  background-color: #07d88d;
  color: #012e40;
  cursor: pointer;
  font-size: small;
}

.submitCode {
  background-color: #ffffff;
  color: #012e40;
  cursor: pointer;
  font-size: small;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.test-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #012e40;
  height: 60px;
  width: 20vw;
  font-size: medium;
}

.buttonsRun {
  display: flex;
}

.disabledButton {
  pointer-events: none;
  opacity: 0.5;
}

.starss {
  width: 30px !important;
}

.img_blackArrow {
  width: 30px;
}

.tests {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: small;
  background-color: #004459;
}

.language {
  width: 120px;
  height: 40px;
  background-color: #012e40;
}

.arrow-button {
  cursor: pointer;
}

.sesionActive {
  display: flex;
  color: #012e40;
  gap: 10px;
  align-items: center;
}

.sesionActive form {
  background-color: #ffffff;
  padding: 6px;
  border-radius: 15px;
}

.modal {
  position: absolute;
  top: 2%;
  left: 50%;
  z-index: 800;
  padding: 30px;
  border-radius: 10px;
  transition: opacity 1s ease;
  opacity: 0;
  transform: translateX(-50%);
}

#titleModal {
  font-weight: bold;
  font-size: 125%;
}

#descriptionModal {
  font-size: 90%;
}

.leftUser {
  width: 30%;
  height: 500px;
  background-color: #004459;
  border-radius: 30px;
}

.rightUser {
  width: 60%;
  height: 500px;
}

.scroll-excersices {
  height: 460px;
  overflow: scroll;
}

@media screen and (min-height: 800px) {
  .col-2-mid {
    min-height: 700px !important;
  }
  .CodeMirror {
    min-height: 700px !important;
  }
}
