<div class="total-container flex items-center">
  <div class="mt-2 w-full">
    <div class="mb-2 p-4 flex items-center space-x-4">
      <div class="flex-shrink-0">
        <img
          class="image-user w-16 h-16 object-cover rounded-full"
          src="{{ card.image_url }}"
          alt="{{ card.title }}"
        />
      </div>

      <div class="flex-1">
        <h3 class="title-exercise font-bold text-xl">{{ card.title }}</h3>
        <p class="text-sm text-gray-500">{{ card.verify }}</p>
      </div>

      <div class="flex-shrink-0">
        <img class="w-6 h-6" src="{{ card.status }}" alt="{{ card.title }}" />
      </div>
    </div>
  </div>
</div>
