<div class="total-container flex items-center">
    {{ user['username'] }} 
    {{ user['email'] }} 
  <div class="mt-2">

    <div class="excercises-color mb-2 p-2 pr-4 flex items-center">

    <div class="flex justify-center items-center">
        <img class="image-home" src="{{ card.image_url }}" alt="{{card.title}}" />
    </div>
    <div class="container-content w-80">
        <div class="title-exercise font-bold text-1xl">
          <h3>{{card.title}}</h3>
        </div>

        <img src="{{card.status}}" alt="{{card.title}}">
        
        <p>{{card.verify}}</p>
    </div>
      
    </div>
  </div>
</div>
