<nav class="p-2 navbar-color">
  <ul class="flex space-x-4 items-center justify-between ml-2 mr-2">
    <li>
      <a href="{{ url_for('bp.home') }}">
        <img
          src="{{ url_for('static', filename='img/logo.png') }}"
          alt="logo"
          class="logo"
        />
      </a>
    </li>
    <li>
      <div class="sesionActive">
        {% if session.get('user') and session['user'].get('username') %}
        <a href="{{ url_for('bp.user') }}">
          <img src="../../static/img/user.png" alt="User" width="50px">
        </a>
        <form action="{{ url_for('bp.signout') }}" method="GET">
          <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>
      {% endif %}
      </div>
    </li>
  </ul>
</nav>
