<!-- <ul>
  {% for key, test in problem.test.items() %}
    <li class="flex tests mb-2 p-3 rounded-lg justify-between items-center">
        {{ test.description }}
        {% if test.result %}
            <img src="{{ url_for('static', filename='img/good.png') }}" alt="Resultado Bueno">
        {% else %}
            <img src="{{ url_for('static', filename='img/bad.png') }}" alt="Resultado Malo">
        {% endif %}
    </li>
  {% endfor %} 
</ul> -->
<!-- 

<ul>
  <li class="flex tests mb-2 p-3 rounded-lg justify-between items-center">
    Prueba
    <img src="{{ url_for('static', filename='img/good.png') }}" alt="Resultado Bueno">
  </li>
</ul>


<u>
  <li class="flex tests mb-2 p-3 rounded-lg justify-between items-center">
    <img src="{{ url_for('static', filename='img/bad.png') }}" alt="Resultado Malo">
  </li>
</ul> -->