{% extends 'baseProblem.html' %} 

{% block title %}Problemas{% endblock %} 

{%block content %}
<div class="grid grid-cols-[1.5fr_3fr_1.5fr] gap-1 grid-components">
    <!-- 1 -->
    <div class="col-1 p-1 rounded-r-lg">
        <div class="flex items-center gap-3 justify-between">
            <div class="flex items-center gap-3">
                <div class="imageProblem">
                    <img src="{{ problem.image_url }}" alt="algoritm">
                </div>
                <div id="problemTitle" class="title-block font-bold">
                    {{problem.title}}
                </div>
            </div>
            <div>
                <img class="menu mr-2" src="{{ url_for('static', filename='img/menu.png') }}" alt="menu">
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="relative flex col-1 mid rounded-t-lg items-center justify-between p-2 font-bold" id="dropdownButton" style="z-index: 100;">
        {{problem.title}}.py
        <div 
        onclick="toggleDropdown()"
        class="relative language p-2 flex justify-between">
            <h4 id="language">{{ request.args.get('language', 'python')|capitalize }}</h4>
            <img class="arrow-button ml-2" src="{{ url_for('static', filename='img/arrowButton.png') }}" alt="arrowBotton">

            <div id="dropdown" class="rounded absolute top-[50px] w-[400px] shadow-md left-[0%] hidden" style="width: 100%; background-color: #012e40;">
                <div class="cursor-pointer hover:bg-gray-300 p-5" onclick="selectLanguaje('python')">
                    Python
                </div>
                <div class="cursor-pointer hover:bg-gray-300 p-5" onclick="selectLanguaje('java')">
                    Java
                </div>
                <div class="cursor-pointer hover:bg-gray-300 p-5" onclick="selectLanguaje('c#')">
                    C#
                </div>
            </div>
        </div>
    </div>
    <!-- 3 -->
    <div class="col-1 right p-1 rounded-l-lg flex items-center">
        <div class="flex items-center gap-3 justify-between">
            <img class="menu ml-2" src="{{ url_for('static', filename='img/menu.png') }}" alt="menu">
            <div class="test-block font-bold">
                <h4>Pruebas</h4>
                <a href="{{ url_for('bp.submits', value=value) }}">
                    <img src="{{ url_for('static', filename='img/history.png') }}" alt="history" width="40px" style="margin-left: 50px;">
                </a>
            </div>
        </div>
    </div>
    <!-- 4 -->
    <div class="col-2-side row-span-2 rounded-r-lg">
        <div class="content-problem p-4">
            {{problem.problem|safe}}
        </div>
    </div>
    <!-- 5 -->
    <div class="col-2-mid" style="z-index: 10;">
        <textarea  id="code" name="code">
{{ problem.selected_code }}
        </textarea>
    </div>
    <!-- 6 -->
    <div class="col-2-side col-2-side-right row-span-2">
        <div id="containerTest" class="p-2">
            
        </div>
    </div>
    <!-- 7 -->
    <div class="col-2 col-start-2 col-end-3 p-2">
        <div class="flex justify-between items-center">
            <div class="flex-col">
                <h5 class="ml-6 mt-2">Dificultad</h5>
                <div class="flex ml-4 starss mb-3">
                    {% for _ in range(problem.stars) %} 
                        {% include 'partials/star.html' %} 
                    {%endfor %} 

                    {% for _ in range(5 - problem.stars) %} 
                        {% include 'partials/starNull.html' %} 
                    {% endfor %} 
                </div>
            </div>
            <div class="buttonsRun">
                <div id="runCode" class="flex runCode mr-4 items-center p-1 rounded-lg font-bold gap-1 mt-1">
                    <img class="img_blackArrow" src="{{ url_for('static', filename='img/arrow-black.png') }}" alt="arrowBlack">
                    <button class="mr-1">Run Code</button>
                </div>
                <div id="submitCode" data-problem-id="{{ problem.id }}" class="flex submitCode mr-4 items-center px-3 rounded-lg font-bold gap-1 mt-1">
                    <img class="img_blackArrow" src="{{ url_for('static', filename='img/submit.png') }}" alt="arrowBlack">
                    <button class="mr-1">Submit</button>
                </div>
            </div>
            
        </div>
        
        
    </div>
</div>
{% endblock %}
